<div>
  <header>You are logged in with example@gmail.com with Staff access</header>
  <div class="main">
    <div class="input-section">
      <p class="placeholder">Search for anything</p>
      <input placeholder="Search for anything" />
    </div>

    <p class="title">Unanonimized</p>
    <div class="section-a">
      <app-datatable></app-datatable>
    </div>
    <p class="title">Administrator View</p>
    <div class="section-a">
      <app-datatable></app-datatable>
    </div>
  </div>
</div>
