<div>
  <header>
    You are logged in as {{ email }} with {{ accessLevelText() }} access
  </header>
  <div class="main">
    <div class="input-section">
      <p class="placeholder">Search for anything</p>
      <input
        placeholder="Search for anything"
        [(ngModel)]="searchQuery"
        (keydown.enter)="submit()"
      />
    </div>

    <p class="title">Unanonimized</p>
    <div class="section-a">
      <app-datatable [query]="filterQuery"></app-datatable>
    </div>
    <p class="title">{{ accessLevelText() }} View</p>
    <div class="section-a">
      <app-datatable [query]="filterQuery" [level]="2"></app-datatable>
    </div>
  </div>
</div>
